
/*---
Overlay
@group			UIComponents/Overlay
@desc			...
@todo			Document
@author			Michael Ord
@tags			module,javascript
---
...
*/
$overlay-bg-colour				: #eee !default;
$overlay-header-bg-colour		: $clr-primary !default;

[id="overlays"]
{
	position					: fixed;
	z-index						: 2001;
	top							: 0;
	left						: 0;
	width						: 100%;
	bottom						: 0;
	transition					: all .5s;
	visibility					: hidden;
	height						: 100%;
	overflow					: hidden;

	&.active
	{
		visibility				: visible;
		background				: rgba(0, 0, 0, .5);
	}
}

.overlay
{
	$parent						: &;

	background					: $overlay-bg-colour;
	position					: absolute;
	z-index						: 2005;
	top							: 100%;
	transition					: top .5s;
	max-width					: 100%;
	width						: 100%;

	box-shadow					: 0 -5px 10px rgba(0, 0, 0, .2);

	height						: 100%;
	overflow-y					: auto;

	&__header
	{
		color					: #fff;
		margin					: 0 0 1rem 0;
		position				: relative;
		margin-left				: -1rem;
		margin-right			: -1rem;
		padding					: 2rem;
		background				: $overlay-header-bg-colour;
	}

	&__title
	{
		color					: inherit;
		margin					: 0;
		padding					: 0;
	}

	&__close
	{
		position				: absolute;
		top						: 50%;
		right					: 0;
		transform				: translate(0, -50%);

		.icon
		{
			color				: #fff;
		}
	}

	&.inactive
	{
		pointer-events			: none;

		&:after
		{
			content				: "";
			position			: absolute;
			top					: 0;
			right				: 0;
			bottom				: 0;
			left				: 0;
			background			: rgba(0, 0, 0, .2);
		}
	}

	&.active
	{
		top						: 0;
	}

	@include device(lg)
	{
		top						: 0;
		right					: -560px;
		max-width				: 550px;
		transition				: right .5s, margin .5s;
		box-shadow				: -5px 0 10px rgba(0, 0, 0, .2);

		&.active
		{
			right				: 0;
			box-shadow			: 0;
		}
	}
}

body, html {
	height: 100%;
	position: relative;
   // height:400px;
}

body
{
	&.is-modal
	{
		max-height				: 100%;
		position				: fixed;
		top						: 0;
		left					: 0;
		width					: 100%;
	}

	.page
	{
	}
}

/*---
Dialog
@group 			UIComponents/Overlay
@todo			Switch out to overlay
@author			Michael Ord
@tags			module,javascript
---
...
*/
.dialog
{
	$parent						: &;

	height						: 734px;
	display						: flex;
	-webkit-box-pack			: center;
	justify-content				: center;
	align-items					: center;
	position					: absolute;
	top							: 0;
	left						: 0;
	width						: 100%;
	height						: 100%;
	z-index						: 800000;
	overflow					: hidden;
	background					: rgba(0, 0, 0, .15);

	&__wrapper
	{
		min-width					: 240px;
		max-width					: 80%;
		max-height					: 70%;
		overflow					: auto;
		box-shadow					: 0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12);
		flex-direction				: column;
		display						: flex;
		-webkit-box-orient			: vertical;
		-webkit-box-direction		: normal;
	}

	&__inner
	{
		display					: flex;
		-webkit-box-orient		: vertical;
		-webkit-box-direction	: normal;
		flex-direction			: column;
		overflow				: auto;
	}

	&__header
	{
		//display					: flex;
		//-webkit-box-orient		: vertical;
		//-webkit-box-direction	: normal;
		flex-direction			: column;
		position				: relative;
		z-index					: 2;
		//padding					: 20px;
		background				: $clr-primary;
		color					: #fff;

		h1, h2, h3, h4, h5, h6
		{
			color				: inherit;
			padding				: 20px;
			margin				: 0;
		}

		.icon
		{
			position			: absolute;
			right				: 10px;
			top					: 50%;
			transform			: translate(0, -50%);
		}
	}

	&__footer
	{
		//display						: flex;
		//-webkit-box-ordinal-group	: 3;
		order						: 2;
		-webkit-box-align			: center;
		align-items					: center;
		-webkit-box-pack			: end;
		justify-content				: flex-end;
		padding						: 20px;
		overflow					: hidden;
		background					: #ccc;
	}

	&__body
	{
		-webkit-box-ordinal-group	: 2;
		order						: 1;
		-webkit-box-orient			: vertical;
		-webkit-box-direction		: normal;
		flex-direction				: column;
		overflow					: hidden;
		overflow-y					: auto;
		-webkit-overflow-scrolling	: touch;
		background					: #fff;
	}

	&__content
	{
		padding						: 20px;
	}

	&--side
	{
		justify-content				: flex-end;

		.dialog
		{
			&__wrapper
			{
				max-height			: 100%;
				max-width			: 550px;
				min-height			: 100%;
			}

			&__inner
			{
				flex				: 1;
			}

			&__body
			{
				flex				: 1;
			}
		}
	}
}
