
<div id="overlays">
	<div class="overlay">
		<div class="container container--padded overlay__container">
			<div class="overlay__header">
				<h2 class="h4 overlay__title">[Overlay Title]</h2>
				<a href="#" class="overlay__close" data-overlay-trigger=''>{{icon 'close'}}</a>
			</div>
			<div class="overlay__body"></div>
		</div>
	</div>
</div>
